Feature: Implement OpenID Connect

Implementing the [OpenID Connect spec][1] on top of the existing OAuth v2 implementation would allow openauth consumers to use their deployment as an identity source for applications which support OIDC as an identity source.

Examples of integrations this would open up are:
- [Auth for AWS Elastic Load Balancing][elb]
- [Access Control for API Gateway][apigw]

Because OIDC is an extension on top of OAuth v2 this could be implemented as an additional opt-in layer for appropriate issuers.

[spec]: https://openid.net/specs/openid-connect-core-1_0.html#Introduction
[elb]: https://docs.aws.amazon.com/elasticloadbalancing/latest/application/listener-authenticate-users.html
[apigw]: https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-jwt-authorizer.html

https://github.com/openauthjs/openauth/blob/master/packages/openauth/src/provider/oidc.ts - there's an oidc provider already

That provider is an authentication provider, id doesn't allow openauth to behave as an oidc issuer.

Working on an implementation over here: https://github.com/sam-goodwin/openauth

Have made some additional changes to embed it as a submodule in my SST app's repo while i work out the final details. Once its stable for my use-case, i'll work on a PR to contribute it back.

This would be awesome. I am thinking if all of these endpoints are implemented - would be great:

* UserInfo Endpoint - as per specs [here](https://openid.net/specs/openid-connect-core-1_0.html#UserInfo).
* Revocation Endpoint - as per specs in [RFC7009 Section 2.1](https://tools.ietf.org/html/rfc7009#section-2.1)
* End Session endpoint - as per [OPMetadata](https://openid.net/specs/openid-connect-session-1_0-17.html#OPMetadata)

And of course return the `id_token` as part of the token endpoint.

From what I can see #160 adds the `/userinfo` endpoint and #95 adds `/invalidate` - so we're almost there.

waiting this implementation too, since if we enable this, we can just easly use JWT at API Gateway v2

> I created a `oidc` wrapper to support oidc in https://jsr.io/@pomdtr/openauth-oidc
> 
> The two changes I needed to make were:
> 
> 1. add the `/.well-known/openid-configuration` endpoint
> 2. include an `id_token` in the `token` endpoint payload

It seems to require deno to run, but i'm using pnpm. 